.deletelink {
    display: block;
    padding-left: 20px;
    background: url(../img/deletelink.png) no-repeat 0 0;
    color: #f00;
    font-size: 85%;
}

#add-new-map {
    display: block;
    padding-left: 20px;
    background: url(../img/addlink.png) no-repeat 0 0;
    color: #0f0;
    font-size: 85%;
}
