body {
    background: white url(../images/rules.png) repeat 0 0;
}

#wrapper {
    position: relative;
    height: 100%;
    width: 950px;
    margin: 0 auto;
}

#masthead {
    background: #f5f5f5; /* off white */
    color: #222;
    padding: 3.07em; /* 40px @ font size 13px */
    overflow: hidden;
}

#masthead #logo {
    font: bold 300% "Dronecat", sans-serif;
    text-indent: -9999em;
    background: transparent url(../images/pagezero-logo.png) no-repeat 0 0;
    color: #ddd;
    height: 32px;
    padding-bottom: 0.21em; /* 8px @ font size 39px */
}

#masthead .logged_in {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 85%; /* 11px @ base font 13px */
    line-height: 1.82; /* 20px @ font size 11px */
    color: #888;
    padding-right: 1em;
}

#masthead p {
    float: left;
    clear: left;
    font-size: 85%; /* 11px @ base font 13px */
    line-height: 1.82; /* 20px @ font size 11px */
}

#mh_search {
    float: right;
}

#mh_search label {
    float: left;
    text-indent: -9000em;
    line-height: 1.54; /* 13 x 1.54 = 20px */
    width: 20px;
    background: transparent url(../images/search.png) no-repeat scroll 0 2px;
}

#mh_search_input {
    font-size: 77%;
    padding: 0.3em;
    border: 1px solid #aaa;
}

#content {
    height: 100%;
    clear: left;
    background: #f5f5f5;
    color: #222;
    padding: 0 3.07em 3.07em; /* 13 x 3.07 = 40px */
    line-height: 1.54; /* 13 x 1.54 = 20px */
}

#content p {
    padding-bottom: 1.54em; /* 13 x 1.54 = 20px */
}

#navigation {
    list-style-type: none;
    min-height: 12px;
    margin-bottom: 1.56em;
    /* ie6 min-height */
    *height: 12px;
    background: transparent url(../images/shadow.png) top left repeat-x;
    /* contain floats */
    overflow: hidden;
    zoom: 1;
}

#navigation li {
  float: left;
  margin-right: 1em;
  border: 1px solid #333;
  border-top: none;
}

#navigation li.current {
  color: #111;
  padding-bottom: 0.5em;
  background: transparent url(../images/shadow.png) repeat-x scroll left bottom;
  margin-bottom: -0.5em;
  border-width: 0;
}

#navigation li a {
  font: bold 85% sans-serif;
  display: block;
  padding: 0.31em 0.93em;
  margin: 0 -1px -1px;
  text-decoration: none;
  background: transparent url(../images/shadow.png) repeat-x scroll left top;
  color: #444;
}

#navigation li.current a {
  background: #f5f5f5;
  border: 0;
  margin: 0;
}

#sub-content {
  padding: 0 3.07em; /* 13 x 3.07 = 40px */
  line-height: 1.54; /* 13 x 1.54 = 20px */
  background: #111 url(../images/black-stripes-background.png);
  /* contain floats */
  overflow: hidden;
  zoom: 1;
}

.column {
  float: left;
  width: 50%;
}

.left-col .box {
  margin-right: 1.56em;
}

.right-col .box {
  margin-left: 1.56em;
}

.box {
  border: 1px solid #333;
  background: #111;
  color: #ccc;
  padding: 1.56em;
  margin-bottom: 1.56em;
  font-size: 93%;
  font-family: sans-serif;
}

.box p {
  margin-bottom: 1.4em;
}

.box h2 {
  font-size: 125%;
  margin: 0 0 0.87em;
  color: #88f;
}

.img-grid ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* contain floats */
    overflow: hidden;
    zoom: 1;
}

.img-grid li {
    float: left;
    padding: 0;
    margin: 0;
}

.img-grid a {
    line-height: 1;
    padding: 0;
}

#comment-form {
    padding-bottom: 1.56em;
}

#comment-form h3 {
    font-size: 115%;
    margin-bottom: 0.3em;
    color: #aaa;
}

#comment-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.3em;
}

#comment-form input,
#comment-form textarea {
    padding: 0.3em;
    margin-bottom: 0.3em;
    border: 1px solid #aaa;
}

#comment-form input:focus,
#comment-form textarea:focus {
    border: 1px solid #bd6;
}

#comment-form input {
    width: 285px;
}

#comment-form textarea {
    width: 485px;
}

#comment-form .help-text {
    display: inline;
    font-size: 85%;
    color: #aaa;
}

#comment-form .submit {
    width: auto;
    cursor: pointer;
    font-weight: bold;
}

.comment {
    /* contain floats */
    overflow: hidden;
    zoom: 1;
}

.post h2 {
    font-size: 115%;
    font-weight: bold;
    margin-bottom: 1em;
}

.attribution {
    font-size: 93%;
}

.author {
    font-weight: bold;
}

.posted {
    font-size: 85%;
    color: #aaa;
    float: right;
}

#footer {
    padding: 1.54em 3.07em; /* 13 x 1.54 = 20px, x 3.07 = 40px */
}

#footer p {
    text-align: center;
    color: #aaa;
    font-size: 85%; /* 13 x 0.85 = 11px */
    line-height: 1.82; /* 11 x 1.82 = 20px */
}

.admin h1 {
    font-size: 123%; /* 16px @ base font 13px */
    line-height: 1.25; /* 20px @ font size 16px */
    font-weight: bold;
    margin-bottom: 1.25em;
}

.admin table {
    width: 100%;
}

.admin th {
    background: #555;
    color: #ccc;
    font-weight: bold;
    font-size: 100%;
    line-height: 1.54; /* 13 x 1.54 = 20px */
    border-right: 1px solid #ccc;
}

.admin th:last-child {
    border-right: 0; 
}

.admin td {
    font-size: 100%;
    line-height: 1.54; /* 13 x 1.54 = 20px */
    border-right: 1px solid #ccc;
}

.admin td:last-child {
    border-right: 0;
}

.admin .alt td {
    background: #ddd;
}

.pagination {
    /* clear floats */
    overflow: hidden;
    zoom: 1;
}

.pagination li {
    float: left;
    padding: 0.5em;
    border-right: 1px solid #aaa;
}

.pagination a {
}

.admin .form-row {
    width: 100%;
    line-height: 2.31; /* 30px @ font size 13px */
    /* contain floats */
    overflow: hidden;
    zoom: 1;
}

.admin .form-row label {
    float: left;
    width: 6em;
    padding: 0.38em 1em 0 0; /* 13 x 0.38 = 5px */
    text-align: right;
    font-size: 100%;
    line-height: 1.4; /* 16 x 1.4 = 28px */
    color: #555;
}

.admin .form-row input[type="text"],
.admin .form-row input[type="password"],
.admin .form-row textarea {
    float: left;
    padding: 0.38em 0.31em 0.23em; /* 13 x0.23 = 3px, x0.31 = 4px, x0.38 = 5px */
    margin-bottom: 0.77em; /* 13 x 0.77 = 10px */
    border: 1px solid #aaa;
    width: 35em;
    font-size: 100%;
    line-height: 1.4; /* 16 x 1.4 = 28px */
    height: 1.54em; /* 13 x 1.54 = 20px */
}

.admin .form-row textarea {
    height: 15.38em; /* 200px @ font size 13px */
}

.admin .form-row .submit {
    width: auto;
}

.admin .form-row .required {
    font-weight: bold;
}

.admin .errors {
    margin-bottom: 1.54em; /* 13 x 1.54 = 20px */
}

.admin .errors li {
    color: #f00;
    font-weight: bold;
}

.admin .model_list th,
.admin .model_list td {
    vertical-align: top;
}

.admin #content_id {
    height: 23.08em; /* 13 x 23.08 = 300px */
}

.admin .subnav {
    line-height: 1.54; /* 20px @ font size 13px */
    overflow: hidden;
    zoom: 1;
    margin-bottom: 1.54em;
}

.admin .subnav li {
    float: left;
    padding-right: 1em;
}
