#say a {
    display: block;
    background: transparent url(../images/talk.png) no-repeat 0 0;
    width: 24px;
    height: 24px;
}
#say a span {
    position: absolute;
    left: -9999em;
}
.avatar {
    position: absolute;
    width: 48px;
    height: 48px;
}
.speech-bubble {
    position: absolute;
    bottom: 48px;
    left: 16px;
    min-width: 75px;
}
.speech-bubble div {
    position: relative;
    background: url(../images/speech-bubble.png);
}
.speech-bubble .t {
    background-position: right 0;
    margin-left: 18px;
    padding-right: 5px;
}
.speech-bubble .t div {
    background-position: 0 0;
    padding: 25px 0 0;
    left: -18px;
}
.speech-bubble .c {
    background-position: right -25px;
    margin-left: 3px;
    padding-right: 5px;
}
.speech-bubble .c div {
    background-position: 0 -25px;
    left: -3px;
    padding: 0 9px 0 3px;
    text-align: center;
}
.speech-bubble .c div p {
    background: none;
    margin: 0px 0 0px 9px;
    padding: 0;
    font-family: sans-serif;
    left: 0;
    text-align: normal;
}
.speech-bubble .b {
    background-position: right -160px;
    margin-left: 50px;
    padding-right: 5px;
}
.speech-bubble .b div {
    background-position: 0 -160px;
    padding: 0 0 40px;
    left: -50px;
    width: 50px;
}
#user-input {
    position: absolute;
    left: -9999em;
}
