body {
    background: white url(../images/rules.png) repeat 0 0;
}

#wrapper {
    position: relative;
    height: 100%;
    width: 950px;
    margin: 0 auto;
}

#masthead {
    padding: 3.07em; /* 40px @ font size 13px */
    overflow: hidden;
}

#masthead #logo {
    font-size: 300%;
    text-indent: -9999em;
    height: 32px;
    padding-bottom: 0.21em; /* 8px @ font size 39px */
}

#masthead .logged_in {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 85%; /* 11px @ base font 13px */
    line-height: 1.82; /* 20px @ font size 11px */
    padding-right: 1em;
}

#masthead p {
    float: left;
    clear: left;
    font-size: 85%; /* 11px @ base font 13px */
    line-height: 1.82; /* 20px @ font size 11px */
}

#mh_search {
    float: right;
}

#mh_search label {
    float: left;
    text-indent: -9000em;
    line-height: 1.54; /* 13 x 1.54 = 20px */
    width: 20px;
}

#mh_search_input {
    font-size: 77%;
    padding: 0.3em;
    border: 1px solid #aaa;
}

#content {
    height: 100%;
    clear: left;
    padding: 0 3.07em 3.07em; /* 13 x 3.07 = 40px */
    line-height: 1.54; /* 13 x 1.54 = 20px */
}

#content p {
    padding-bottom: 1.54em; /* 13 x 1.54 = 20px */
}

#navigation {
    margin-bottom: 1.54em; /* 13 x 1.54 = 20px */
    /* contain floats */
    overflow: hidden;
    zoom: 1;
}

#navigation li {
  float: left;
  margin-right: 0.77em; /* 13 x 0.77 = 10px */
  border: 1px solid #333;
  border-top: none;
}

#navigation li.current {
  padding-bottom: 0.5em;
  margin-bottom: -0.5em;
  border-width: 0;
}

#navigation li a {
  font-size: 85%;
  line-height: 1.73em; /* 11 x 1.73 = 19px */
  display: block;
  padding: 0 0.91em; /* 11 x 0.91 = 10px */
}

#navigation li.current a {
  border: 0;
}

#sub-content {
  padding: 0 3.07em; /* 13 x 3.07 = 40px */
  line-height: 1.54; /* 13 x 1.54 = 20px */
  /* contain floats */
  overflow: hidden;
  zoom: 1;
}

.column {
  float: left;
  width: 50%;
}

.left-col .box {
  margin-right: 1.67em; /* 12 x 1.67 = 20px */
}

.right-col .box {
  margin-left: 1.67em; /* 12 x 1.67 = 20px */
}

.box {
  border: 1px solid #333;
  font-size: 93%; /* 13 x 0.93 = 12px */
  line-height: 1.67; /* 12 x 1.67 = 20px */
  padding: 1.58em; /* 12 x 1.58 = 19px */
  margin-bottom: 1.67em; /* 12 x 1.67 = 20px */
}

.box p {
  margin-bottom: 1.67em; /* 12 x 1.67 = 20px */
}

.box h2 {
  font-size: 125%; /* 12 x 1.25 = 15px */
  line-height: 1.33; /* 15 x 1.33 = 20px */
  margin: 0 0 1.33em; /* 15 x 0.87 = 20px */
}

.img-grid ol {
    padding: 0;
    margin: 0;
    /* contain floats */
    overflow: hidden;
    zoom: 1;
}

.img-grid li {
    float: left;
    padding: 0;
    margin: 0;
}

.img-grid a {
    line-height: 1;
    padding: 0;
}

#comment-form {
    padding-bottom: 1.67em; /* 12 x 1.67 = 20px */
}

#comment-form h3 {
    font-size: 117%; /* 12 x 1.17 = 14px */
    line-height: 1.43; /* 14 x 1.43 = 20px */
    margin-bottom: 1.43em; /* 14 x 1.43 = 20px */
}

#comment-form label {
    display: block;
    line-height: 1.66; /* 12 x 1.67 = 20px */
    margin: 0;
}

#comment-form input,
#comment-form textarea {
    padding: 0.42em 0.33em 0.25em; /* 12x0.42 = 5px, x0.33 = 4px, x0.25 = 3px */
    margin: 0;
    margin-bottom: 0.83em; /* 12 x 0.83 = 10px */
    line-height: 2.33; /* 12 x 2.33 = 28px */
    height: 1.67em; /* 12 x 1.67 = 20px */
    border: 1px solid #aaa;
}

#comment-form input:focus,
#comment-form textarea:focus {
    border: 1px solid #bd6;
}

#comment-form input {
    width: 285px;
}

#comment-form .submit {
    width: auto;
    height: 2.33em; /* 12 x 2.33 = 28px */
    padding: 0.33em; /* 12 x 0.33 = 4px */
}

#comment-form textarea {
    width: 485px;
    height: 16.67em; /* 12 x 16.67 = 200px */
}

#comment-form .help-text {
    display: inline;
    font-size: 83%; /* 12 x 0.83 = 10px */
    line-height: 3; /* 10 x 3 = 30px */
    margin: 0;
}

.comment {
    /* contain floats */
    overflow: hidden;
    zoom: 1;
}

.post h2 {
    font-size: 115%;
    margin-bottom: 1em;
}

.attribution {
    font-size: 93%;
}

.posted {
    font-size: 85%;
    float: right;
}

#footer {
    padding: 1.54em 3.07em; /* 13 x 1.54 = 20px, x 3.07 = 40px */
}

#footer p {
    text-align: center;
    font-size: 85%; /* 13 x 0.85 = 11px */
    line-height: 1.82; /* 11 x 1.82 = 20px */
}

.admin h1 {
    font-size: 123%; /* 16px @ base font 13px */
    line-height: 1.25; /* 20px @ font size 16px */
    margin-bottom: 1.25em;
}

.admin table {
    width: 100%;
}

.admin th {
    font-size: 100%;
    line-height: 1.54; /* 13 x 1.54 = 20px */
    border-right: 1px solid #ccc;
}

.admin th:last-child {
    border-right: 0; 
}

.admin td {
    font-size: 100%;
    line-height: 1.54; /* 13 x 1.54 = 20px */
    border-right: 1px solid #ccc;
}

.admin td:last-child {
    border-right: 0;
}

.pagination {
    /* clear floats */
    overflow: hidden;
    zoom: 1;
}

.pagination li {
    float: left;
    padding: 0.5em;
    border-right: 1px solid #aaa;
}

.pagination a {
}

.admin .form-row {
    width: 100%;
    line-height: 2.31; /* 30px @ font size 13px */
    /* contain floats */
    overflow: hidden;
    zoom: 1;
}

.admin .form-row label {
    float: left;
    width: 6em;
    padding: 0.38em 1em 0 0; /* 13 x 0.38 = 5px */
    text-align: right;
    font-size: 100%;
    line-height: 1.4; /* 16 x 1.4 = 28px */
}

.admin .form-row input[type="text"],
.admin .form-row input[type="password"],
.admin .form-row textarea {
    float: left;
    padding: 0.38em 0.31em 0.23em; /* 13 x0.23 = 3px, x0.31 = 4px, x0.38 = 5px */
    margin-bottom: 0.77em; /* 13 x 0.77 = 10px */
    border: 1px solid #aaa;
    width: 35em;
    font-size: 100%;
    line-height: 1.4; /* 16 x 1.4 = 28px */
    height: 1.54em; /* 13 x 1.54 = 20px */
}

.admin .form-row textarea {
    height: 15.38em; /* 200px @ font size 13px */
}

.admin .form-row .submit {
    width: auto;
}

.admin .errors {
    margin-bottom: 1.54em; /* 13 x 1.54 = 20px */
}

.admin .model_list th,
.admin .model_list td {
    vertical-align: top;
}

.admin #content_id {
    height: 23.08em; /* 13 x 23.08 = 300px */
}

.admin .subnav {
    line-height: 1.54; /* 20px @ font size 13px */
    overflow: hidden;
    zoom: 1;
    margin-bottom: 1.54em;
}

.admin .subnav li {
    float: left;
    padding-right: 1em;
}
