RewriteEngine On
RewriteBase /~andy.driver/pagezero
RewriteRule ^$ views/home.php [QSA,L]
RewriteRule ^login$ views/login.php [QSA,L]
RewriteRule ^logout$ views/logout.php [QSA,L]
RewriteRule ^sign-up$ views/sign-up.php [QSA,L]
RewriteRule ^blog$ views/blog.php [QSA,L]
RewriteRule ^blog/(?P<year>\d{4})/(?P<month>\d{2})/(?P<day>\d{2})/(?P<slug>[-a-z0-9]+)$ views/blog-post.php?year=$1&month=$2&day=$3&slug=$4 [QSA,L]
RewriteRule ^mud$ views/mud.php [QSA,L]
RewriteRule ^mud-say$ views/mud-say.php [QSA,L]
RewriteRule ^mud-update$ views/mud-update.php [QSA,L]
RewriteRule ^mud-move$ views/mud-move.php [QSA,L]
RewriteRule ^admin$ /Users/andy.driver/Sites/pagezero/plugins/admin/views/default.php [QSA,L]
RewriteRule ^admin/models$ /Users/andy.driver/Sites/pagezero/plugins/admin/views/models.php [QSA,L]
RewriteRule ^admin/models/(?P<model>[a-zA-Z]+)/new$ /Users/andy.driver/Sites/pagezero/plugins/admin/views/model-edit.php?model=$1&action=new [QSA,L]
RewriteRule ^admin/models/(?P<model>[a-zA-Z]+)/(?P<id>\d+)$ /Users/andy.driver/Sites/pagezero/plugins/admin/views/model-edit.php?model=$1&id=$2 [QSA,L]
RewriteRule ^admin/models/(?P<model>[a-zA-Z]+)$ /Users/andy.driver/Sites/pagezero/plugins/admin/views/model-list.php?model=$1 [QSA,L]
RewriteRule ^admin/routing$ /Users/andy.driver/Sites/pagezero/plugins/admin/views/routing.php [QSA,L]