RewriteEngine On
RewriteBase /~andy.driver/pagezero
RewriteRule ^$ views/home.php [QSA,L]
RewriteRule ^login$ views/login.php [QSA,L]
RewriteRule ^logout$ views/logout.php [QSA,L]
RewriteRule ^sign-up$ views/sign-up.php [QSA,L]
RewriteRule ^blog$ views/blog.php [QSA,L]
RewriteRule ^blog/(?P<year>\d{4})/(?P<month>\d{2})/(?P<day>\d{2})/(?P<slug>[-a-z0-9]+)$ views/blog-post.php?year=$1&month=$2&day=$3&slug=$4 [QSA,L]
RewriteRule ^mud$ views/mud.php [QSA,L]
RewriteRule ^mud-say$ views/mud-say.php [QSA,L]
RewriteRule ^mud-update$ views/mud-update.php [QSA,L]
RewriteRule ^mud-move$ views/mud-move.php [QSA,L]
RewriteRule ^admin$ views/admin/default.php [QSA,L]
RewriteRule ^admin/blog/delete/(?P<id>\d+)$ views/admin/blog-post.php?id=$1&action=delete [QSA,L]
RewriteRule ^admin/blog/edit(?:/(?P<id>\d+))?$ views/admin/blog-post.php?id=$1&action=edit [QSA,L]
RewriteRule ^admin/blog(?:/(?P<page>\d+))?$ views/admin/blog.php?page=$1 [QSA,L]
RewriteRule ^admin/models/BlogComment$ views/admin/BlogComment-list.php [QSA,L]
RewriteRule ^admin/models/BlogPost$ views/admin/BlogPost-list.php [QSA,L]
RewriteRule ^admin/models/BlogPost/(?P<id>\d+)$ views/admin/BlogPost-edit.php?id=$1 [QSA,L]
RewriteRule ^admin/models/BlogComment$ views/admin/BlogComment-list.php [QSA,L]
RewriteRule ^admin/models/BlogComment/(?P<id>\d+)$ views/admin/BlogComment-edit.php?id=$1 [QSA,L]
RewriteRule ^admin/models/MudUser$ views/admin/MudUser-list.php [QSA,L]
RewriteRule ^admin/models/MudUser/(?P<id>\d+)$ views/admin/MudUser-edit.php?id=$1 [QSA,L]
RewriteRule ^admin/models/MudArea$ views/admin/MudArea-list.php [QSA,L]
RewriteRule ^admin/models/MudArea/(?P<id>\d+)$ views/admin/MudArea-edit.php?id=$1 [QSA,L]
RewriteRule ^admin/models/MudChat$ views/admin/MudChat-list.php [QSA,L]
RewriteRule ^admin/models/MudChat/(?P<id>\d+)$ views/admin/MudChat-edit.php?id=$1 [QSA,L]
RewriteRule ^admin/models/MudUpdate$ views/admin/MudUpdate-list.php [QSA,L]
RewriteRule ^admin/models/MudUpdate/(?P<id>\d+)$ views/admin/MudUpdate-edit.php?id=$1 [QSA,L]
RewriteRule ^admin/models/User$ views/admin/User-list.php [QSA,L]
RewriteRule ^admin/models/User/(?P<id>\d+)$ views/admin/User-edit.php?id=$1 [QSA,L]
